header {
    padding: 15px 0;

    .container {
        display: grid;
        align-items: center;
        gap: 40px;
        grid-template-columns: 1fr auto;
        grid-template-areas: "logo mobile";

        @include lg {
            grid-template-columns: auto 1fr auto auto;
            grid-template-areas: "logo nav sw accounts";
        }


        .logo {
            grid-area: logo;
        }

        nav {
            grid-area: nav;
            display: none;
            gap: 20px;
            padding-top: 100px;

            @include lg {
                padding-top: 0;
            }

            a {
                text-decoration: none;
                font-weight: 600;
                color: var(--color-gray-800);

                &:hover {
                    color: var(--color-theme);
                    text-decoration: underline;
                }
            }

            &.active {
                display: block;
                background-color: var(--color-gray-900);
                position: fixed;
                top: 0;
                right: 0;
                height: 100%;
                width: 100%;

                a {
                    display: block;
                    color: var(--color-white) !important;
                    text-align: center;
                    padding: 20px;
                }
            }

            @include lg {
                display: flex;
            }
        }

        .btn-switch {
            grid-area: sw;
            display: none;

            @include lg {
                display: block;
            }
        }

        .account-buttons {
            grid-area: accounts;
            display: none;
            gap: 20px;

            @include lg {
                display: flex;
            }
        }

        .btn-mobile {
            z-index: 20;
            grid-area: mobile;
            display: block;

            @include lg {
                display: none;
            }
        }
    }
}
