<section class="account-profile">
    <div class="profile">
        <div class="image">
             <img src="~/Images/Uploads/avatar.jpg" alt="" />
        </div>
        <div class="info">
            <h3 class="displayname">John Doe</h3>
            <p>emanuel@supermail.com</p>
        </div>
    </div>
</section>